name: Version Check

on:
  pull_request:
    branches:
      - main

env:
  UV_FROZEN: true
  PYTHON_VERSION: "3.14"

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main
          path: main_branch

      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          path: current_branch

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Compare versions
        run: |
          uv run --python ${{ env.PYTHON_VERSION }} --with packaging python - <<EOF
          import sys
          from pathlib import Path
          from packaging import version

          def get_version(path: Path) -> str:
              for line in path.read_text(encoding="utf-8").splitlines():
                  if "__version__" in line:
                      return line.strip().split()[-1][1:-1]

          print("Checking versions...")

          main_branch = Path.cwd() / "main_branch/src/airball/__init__.py"
          if not main_branch.exists():
              print(f"Main branch {main_branch.relative_to(Path.cwd())} not found. Assuming this is the first version.")
              sys.exit(1)

          current_branch = Path.cwd() / "current_branch/src/airball/__init__.py"
          if not current_branch.exists():
              print(f"Failed to checkout current branch, {current_branch.relative_to(Path.cwd())} not found.")
              sys.exit(1)

          main_ver_str = get_version(main_branch)
          curr_ver_str = get_version(current_branch)

          print(f"Main version: {main_ver_str}")
          print(f"Current version: {curr_ver_str}")

          if version.parse(curr_ver_str) <= version.parse(main_ver_str):
              print("Error: Current version must be greater than main version.")
              sys.exit(1)
          else:
              print("Success: Current version is greater than main version.")
          EOF
